<!DOCTYPE html>
<html>
	<head>
		<title>Nuovo brano</title>
		<link rel="stylesheet" href="/css/stile1.css"/>
		<link rel="stylesheet" href="/css/form.css"/>
		<link rel="icon" href="piuma.jpg" type="/image/JPG" />		
	</head>
	
	<body>
		<header>
			<div class="logo"><a href="/"><img src="/images/piuma.jpg" width="2%"/></a> SIW Music</div>
			<nav>
				<span th:if="${userDetails}">
					<span th:text="${userDetails.username}"></span>
					<a th:href="@{/logout}"><button>Logout</button></a>
				</span>
				<span th:unless="${userDetails}">
					<a th:href="@{/login}"><button>Login</button></a>
				</span>
			</nav>
		</header>		
		
		<form th:action="@{'/admin/modificaBrano/' + ${brano.id}}" method="POST"  enctype="multipart/form-data" th:object="${brano}">
			<h1>Aggiungi un brano</h1>
			<div th:if="${#fields.hasGlobalErrors()}">
				<p th:each="err: ${#fields.globalErrors()}" th:text="${err}">...</p>
			</div>
			
			<div>
				<label>Titolo:</label>
				<span><input type="text" th:field="${brano.titolo}"/></span>
				<span th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}"></span>
			</div>
			<div>
				<label>Anno:</label>
				<span><input type="text" th:field="${brano.anno}"/></span>
				<span th:if="${#fields.hasErrors('anno')}" th:errors="*{anno}"></span>
			</div>
			<div>
				<label>Genere:</label>
				<span><input type="text" th:field="${brano.genere}"/></span>
				<span th:if="${#fields.hasErrors('genere')}" th:errors="*{genere}"></span>
			</div>
			<div>
				<label>Album:</label>
				<span><input type="text" th:field="${brano.album}"/></span>
				<span th:if="${#fields.hasErrors('album')}" th:errors="*{album}"></span>
			</div>
			<div>
				<label>Durata (in minuti):</label>
				<span><input type="text" th:field="${brano.durataMinuti}"/></span>
				<span th:if="${#fields.hasErrors('durataMinuti')}" th:errors="*{durataMinuti}"></span>
			</div>
			<div>
				<label>Testo:</label>
				<span><textarea th:field="${brano.testo}"  cols="50" placeholder="Scrivi qui il testo della canzone..."></textarea></span>
				<span th:if="${#fields.hasErrors('testo')}" th:errors="*{testo}"></span>
			</div>

			<div>
			<label>Immagine del brano:</label>
			<span><input type="file" name="fileImmagini" accept="image/*"/></span>
			</div>
			
			<div>
				<span><button type="submit">Conferma</button></span>
				<a th:href="@{'/brano/' + ${brano.id}}"><button type="button">Annulla</button></a>
			</div>
		</form>
		<img th:src="@{'/images/' + ${img}}" alt="immagine brano">

		<footer>
			&copy; 2025 Siw Music
		</footer>
	</body>
</html>