<!DOCTYPE html>
<html>
	<head>
		<title>Modifica autori di un brano</title>
		<link rel="stylesheet" href="/css/stile1.css" />
		<link rel="stylesheet" href="/css/stile2.css" />
		<link rel="stylesheet" href="/css/stile3.css"/>
		<link rel="stylesheet" href="/css/carousel.css">
		<link rel="icon" href="piuma.jpg" type="/image/JPG" />
	</head>
	
	<body>
		
		<header>
			<div class="logo"><img src="/images/piuma.jpg" width="2%"/> SIW Books</div>
			<nav>
				<a th:href="@{/}"><button>Home</button></a>
				<a th:href="@{/brano}"><button>Brani</button></a>
				<a th:href="@{/autore}"><button>Autori</button></a>
				<span th:if="${userDetails}">
					<span th:text="${userDetails.username}"></span>
					<a th:href="@{/logout}"><button>Logout</button></a>
				</span>
				<span th:unless="${userDetails}">
					<a th:href="@{/login}"><button>Login</button></a>
				</span>
			</nav>
		</header>
		

		<div style="display: flex; flex:1; margin-bottom: 200px;">
		  	<div class="container-obj" th:if="${brano}" style="height: 764px">
		      	<h1 th:text="${brano.titolo}">Titolo brano</h1>
		      	<p class="importante">Anno di pubblicazione: <span th:text="${brano.anno}">2003</span></p>
				<p class="importante">Autori:</p>
				<div class="cliccabile">
			  		<span th:if="${autori.isEmpty()}">Non è presente nessun autore</span>
			  		<span th:unless="${autori.isEmpty()}">
						<ul >
							<li th:each="autore: ${autori}">
								<a th:href="@{'/autore/' }" th:text="|${autore.nome} ${autore.cognome}|">Nome Cognome</a>
								<span class="settings2" style="margin-left: 30px;"><a th:href="@{'/admin/rimuoviAutoreDaBrano/' + ${brano.id} + '/' + ${autore.id}}"><button type="button">Rimuovi</button></a></span>							
							</li>
						</ul>
			  		</span>
				</div>
				<span class="settings1" >
					<a th:href="@{'/admin/aggiungiAltriAutoriABrano/' + ${brano.id}}"><button type="button">Aggiungi autore</button></a>
					<a th:href="@{'/brano/' + ${brano.id}}"><button type="button">Fine</button></a>
				</span>
			</div>

			<div class="carousel-container">
				<input type="radio" name="carousel" id="slide1" checked>	<!--TODO: arbitrario-->
				<input type="radio" name="carousel" id="slide2">
				<input type="radio" name="carousel" id="slide3">
				<div class="carousel-slide">
					<img src="https://resizing.flixster.com/uFaQUufZLpd8776iQAujjoOgXJA=/fit-in/705x460/v2/https://resizing.flixster.com/-XZAfHZM39UwaGJIFWKAE8fS0ak=/v3/t/assets/p13109732_k_v9_aa.jpg" alt="Copertina del brano" />
				</div>
				<div class="carousel-slide">
					<img src="immagine2.jpg" alt="Immagine 2" />
				</div>
				<div class="carousel-slide">
			    	<img src="immagine3.jpg" alt="Immagine 3" />
				</div>

			  <!-- Pulsanti di navigazione -->
				<label for="slide1" class="carousel-prev">&#10094;</label>
				<label for="slide2" class="carousel-next">&#10095;</label>
			</div>
			

		
		</div>	
		<footer>
			&copy; 2025 Siw Books
		</footer>

	</body>
</html>