<!DOCTYPE html>
<html lang="it">
	<head>
	  <meta charset="UTF-8" />
	  <title>Home user</title>
	  <link rel="stylesheet" href="/css/stile1.css" />
	  <link rel="stylesheet" href="/css/stile2.css" />
	  <link rel="icon" href="/images/piuma.jpg" type="/image/JPG"/>		
	</head>
	<body>
		
	  <header>
	    <div class="logo"><img src="/images/piuma.jpg" width="2%"/> SIW Music</div>
	    <nav>
		  <a th:href="@{/}"><button>Home</button></a>
	      <a th:href="@{/brano}"><button>Brani</button></a>
	      <a th:href="@{/autori}"><button>Autori</button></a>
		  <span th:if="${userDetails}">
		  	<span th:text="${userDetails.username}"></span>
		  	<a th:href="@{/logout}"><button>Logout</button></a>
		  </span>
		  <span th:unless="${userDetails}">
		  	<a th:href="@{/login}"><button>Login</button></a>
		  </span>
	    </nav>
	  </header>
	
	  <div id="main">
		<div class="importante"><h2>Ciao <span th:if="${userDetails}" th:text="${userDetails.username}"></span>!</h3></div>
	    <img src="/images/musica.jpg" alt="Immagine musica" class="home-image"/>
	    <p class="intro-text">
	      Benvenuto nella nostra raccolta musicale!! Divertiti a consultare brani e condividere idee con gli altri!
	    </p>
	
		  <section class="evidenza">
		    <h2>Ultimi brani</h2>
		    <ul class="book-list" th:if="${ultimiBrani}">
		      <li th:each="brano: ${ultimiBrani}">
		        <strong th:text="${brano.titolo}">Il nome della rosa</strong>
		        <span th:if="${brano.autori}" th:each="autore, iterStat : ${brano.autori}">
				<span th:text="${autore.nomeArte}"></span><span th:if="${!iterStat.last}">, </span>
			  </span>
		      </li>
		    </ul>
		  </section>

		  <section class="evidenza">
		    <h2>Autori in evidenza</h2>
		    <ul class="author-list">
		      <li th:each="autore : ${ultimiAutori}">
		        <strong th:text="${autore.nomeArte}">Italo Calvino</strong>
		      </li>
		    </ul>
		  </section>
		</div>
	
	  <footer>
	    &copy; 2025 Siw Music
	  </footer>
	</body>
</html>
